# Data visualization

## Import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
import json
import geopandas

import torch
from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor
import random

## Reading data

In [3]:
cleaned_data = pd.read_csv('./data/cleaned_data.csv')
cleaned_data

,company,company_size,job_title,level,domain,yoe_total,yoe_at_company,base,stock,bonus,total_compensation,location
0,Logitech,7250,Software Engineer,I4,Testing (SDET),10,5,190000.0,10000.0,0.0,200000.0,San Francisco Bay Area
1,Logitech,7250,Software Engineer,I2,ML / AI,4,3,126000.0,0.0,7000.0,133000.0,"Vancouver, WA"
2,Logitech,7250,Software Engineer,I3,Testing (SDET),11,11,120000.0,5000.0,12000.0,137000.0,"San Francisco, CA"
3,Logitech,7250,Software Engineer,I4,Production,8,8,100000.0,10000.0,0.0,110000.0,"Hsin-chu, TP, Taiwan"
4,Logitech,7250,Software Engineer,I1,ML / AI,2,0,123100.0,0.0,0.0,123100.0,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...
1245,Ubisoft,21620,Software Engineering Manager,L3,Video Game,13,13,80400.0,0.0,0.0,80400.0,"Bordeaux, AQ, France"
1246,Ubisoft,21620,Software Engineering Manager,L4,API Development (Back-End),10,1,115300.0,0.0,11500.0,126800.0,"Montreal, QC, Canada"
1247,Ubisoft,21620,Software Engineering Manager,L3,Other,12,12,73900.0,0.0,0.0,73900.0,"Paris, IL, France"
1248,Ubisoft,21620,Software Engineering Manager,L4,Full Stack,20,9,125000.0,0.0,5000.0,130000.0,"Montreal, QC, Canada"
1249,Ubisoft,21620,Software Engineering Manager,L4,Game Development,25,10,100000.0,20000.0,2000.0,122000.0,"Toronto, ON, Canada"